fastapi==0.109.0
uvicorn==0.27.0
requests==2.31.0
faster-whisper
torch>=2.0.0
python-multipart==0.0.6
ffmpeg-python==0.2.0

# 배치 처리 및 추가 기능을 위한 패키지
numpy>=1.25.0
tqdm>=4.66.0
hf_xet

# 로그
python-json-logger

# Prometheus metrics (Instrumentator 버전이 기본)
prometheus-fastapi-instrumentator

# (만약 직접 Gauge 등 쓰는 경우만) 아래도 추가
# prometheus_client