fastapi==0.109.0
uvicorn==0.27.0
requests==2.31.0
faster-whisper
torch>=2.0.0
python-multipart==0.0.6
ffmpeg-python==0.2.0

# 배치 처리 및 추가 기능을 위한 패키지
numpy>=1.25.0
tqdm>=4.66.0
hf_xet

# 로그
python-json-logger

# Prometheus metrics (Instrumentator 버전이 기본)
prometheus-fastapi-instrumentator

# GPU 모니터링 및 직접 메트릭 생성을 위한 패키지
prometheus_client>=0.20.0
nvidia-ml-py3  # 최신 사용 가능한 버전 자동 설치